### Vuejs ###
node_modules/
dist/
npm-debug.log
yarn-error.log

### WebStorm ###
.idea/

# CMake
cmake-build-*/

# File-based project format
*.iws

# mpeltonen/sbt-idea plugin
.idea_modules/

# Editor-based Rest Client
.idea/httpRequests

# Cache file creation bug
.idea/$CACHE_FILE$