@import "tailwindcss";
@layer theme, base, components, utilities;

@theme {
  /* Gradient Colors */
  --color-gradient-onyx: linear-gradient(to bottom right, rgb(64, 64, 64) 0%, rgba(64, 64, 64, 0) 50%);
  --color-gradient-jet: linear-gradient(to bottom right, rgba(45, 45, 46, 0.251) 0%, rgba(27, 27, 29, 0) 100%), hsl(240, 2%, 13%);
  --color-gradient-orange-1: linear-gradient(135deg, rgba(255, 187, 92, 0.251) 0%, rgba(255, 187, 92, 0) 59.86%), rgb(32, 32, 34);
  --color-gradient-orange-2: linear-gradient(135deg, rgba(255, 187, 92, 0.251) 0%, rgba(255, 187, 92, 0) 59.86%), rgb(32, 32, 34);
  --color-gradient-golden: linear-gradient(to right, rgb(255, 184, 77), rgb(255, 144, 51));

  /* Solid Colors */
  --color-white: rgb(255, 255, 255);
  --color-alabaster: rgb(250, 250, 250);
  --color-white-10: rgba(255, 255, 255, 0.1);
  --color-white-11: rgba(255, 255, 255, 0.11);
  --color-white-15: rgba(255, 255, 255, 0.15);
  --color-light-gray: rgb(214, 214, 214);
  --color-light-gray-70: rgba(214, 214, 214, 0.7);
  --color-jet: rgb(56, 56, 56);
  --color-onyx: rgb(43, 43, 44);
  --color-onyx-75: rgba(43, 43, 44, 0.75);
  --color-eerie-black-1: rgb(32, 32, 34);
  --color-eerie-black-2: rgb(30, 30, 31);
  --color-smoky-black: rgb(18, 18, 18);
  --color-black-15: rgba(0, 0, 0, 0.15);
  --color-black-25: rgba(0, 0, 0, 0.25);
  --color-black-50: rgba(0, 0, 0, 0.5);
  --color-light-orange: rgb(255, 165, 89);
  --color-golden: rgb(255, 152, 67);
  --color-bittersweet-shimmer: rgb(184, 76, 76);

  /* Font family */
  --font-poppins: 'Poppins', sans-serif;

  /* Font size */
  --text-1: 11px;
  --text-2: 13px;
  --text-3: 14px;
  --text-4: 16px;
  --text-5: 15px;
  --text-6: 17px;
  --text-7: 18px;
  --text-8: 24px;

  /* Font weight */
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;

  /* Shadows */
  --shadow-1: -4px 8px 24px var(--color-black-25);
  --shadow-2: 0 16px 30px var(--color-black-25);
  --shadow-3: 0 16px 40px var(--color-black-25);
  --shadow-4: 0 25px 50px var(--color-black-15);
  --shadow-5: 0 24px 80px var(--color-black-25);
  --shadow-6: 0 0 0 4px var(--color-jet);
}

@layer base {

  /*--- RESET ---*/
  *,
  *::before,
  *::after {
    @apply m-0 p-0 box-border;
  }

  a {
    @apply no-underline;
  }

  li {
    @apply list-none;
  }

  img,
  .lucide,
  a,
  button,
  time,
  span {
    @apply block;
  }

  button {
    @apply bg-none border-none text-left cursor-pointer;
  }

  input,
  textarea {
    @apply block w-full bg-none;
  }

  ::selection {
    @apply bg-golden text-smoky-black;
  }

  :focus {
    @apply outline-golden;
  }

  html {
    @apply font-poppins;
  }

  body {
    @apply bg-smoky-black;
  }

  h2,
  h3,
  h4 {
    @apply text-alabaster capitalize;
  }

  h2 {
    @apply text-8;
  }

  h3 {
    @apply text-7;
  }

  h4 {
    @apply text-4;
  }

  /*--- SCROLLBAR ---*/
  body::-webkit-scrollbar {
    @apply w-0;
  }
  @media (min-width: 1024px) {
    body::-webkit-scrollbar {
      @apply w-5;
    }
  }

  body::-webkit-scrollbar-track {
    @apply bg-smoky-black;
  }

  body::-webkit-scrollbar-thumb {
    @apply border-smoky-black border-5 bg-white-10 rounded-2xl;
    box-shadow: inset 1px 1px 0 var(--color-white-11),
      inset -1px -1px 0 var(--color-white-11);
  }

  body::-webkit-scrollbar-thumb:hover {
    @apply bg-white-15;
  }

  body::-webkit-scrollbar-button {
    @apply h-14;
  }
}

@layer components {
  /*
   * REUSED STYLE
   */
  .sidebar,
  article {
    @apply bg-eerie-black-2 border border-jet rounded-2xl p-4 shadow-1 z-1;
  }

  .separator {
    @apply w-full h-px bg-jet my-4;
  }

  .icon-box {
    @apply relative w-10 h-10 flex justify-center items-center text-golden
      shadow-1 z-1 rounded-xl;
    background: var(--color-gradient-onyx);
  }

  .lucide {
    @apply size-5;
  }

  .icon-box::before {
    @apply content-[""] absolute inset-[1px] bg-eerie-black-1 rounded-[inherit]
      -z-1;
  }

  .tab-content {
    @apply hidden;
  }

  .tab-content.active {
    @apply block;
    animation: fade 0.5s ease backwards;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .article-title {
    @apply relative pb-2 inline-block mb-6;
  }

  .article-title::after {
    @apply content-[""] absolute bottom-0 left-0 w-full h-1 rounded-xl;
    background: var(--color-gradient-golden);
  }

  /*--- MAIN ---*/
  .main {
    @apply mt-4 mx-3 mb-20 min-w-2xs;
  }

  /*--- SIDEBAR ---*/
  .sidebar {
    @apply mb-4 max-h-28 overflow-hidden transition-all duration-1000 ease-in-out;
  }

  .sidebar.active {
    @apply max-h-[405px];
  }

  .sidebar-main {
    @apply relative flex justify-start items-center gap-3.5;
  }

  .avatar-picture {
    @apply rounded-full object-cover;
  }

  .sidebar-main-content .name {
    @apply text-alabaster text-6 font-500 tracking-tight mb-2;
  }

  .sidebar-main-content .subtitle {
    @apply text-white bg-onyx text-1 font-300 w-max px-3 py-1 rounded-lg;
  }

  .sidebar-show-more-button {
    @apply absolute -top-4 -right-4 rounded-bl-2xl text-3 text-golden p-2.5
      shadow-2 transition-all ease-in-out duration-500 z-1;
    background: var(--color-gradient-onyx);
  }

  .sidebar-show-more-button::before {
    @apply content-[""] absolute inset-[1px] rounded-bl-2xl bg-jet -z-1
      transition-all ease-in-out duration-500;
    background: var(--color-gradient-jet);
  }

  .sidebar-show-more-button:hover,
  .sidebar-show-more-button:focus {
    background: var(--color-gradient-orange-1);
  }

  .sidebar-show-more-button:hover::before,
  .sidebar-show-more-button:focus::before {
    background: var(--color-gradient-orange-2);
  }

  .sidebar-show-more-button span {
    @apply hidden;
  }

  .sidebar-secondary {
    @apply opacity-0 invisible transition-all ease-in-out duration-500;
  }

  .sidebar.active .sidebar-secondary {
    @apply opacity-100 visible;
  }

  .contacts-list {
    @apply grid grid-cols-1 gap-4;
  }

  .contact-item {
    @apply min-w-full flex items-center gap-4;
  }

  .contact-info {
    @apply max-w-[calc(100%-50px)] w-[calc(100%-50px)];
  }

  .contact-title {
    @apply text-light-gray-70 text-1 uppercase mb-0.5;
  }

  .contact-info :is(.contact-link, address) {
    @apply text-alabaster text-2;
  }

  .contact-info address {
    @apply not-italic;
  }

  .social-list {
    @apply flex items-center gap-4 pb-1 pl-2;
  }

  .social-item .social-link {
    @apply text-light-gray-70 text-8;
  }

  .social-item .social-link:hover {
    @apply text-light-gray;
  }

  /*--- NAVBAR ---*/
  .navbar {
    @apply fixed bottom-0 left-0 w-full bg-onyx-75 backdrop-blur-md border
      border-jet rounded-t-xl shadow-2 z-10;
  }

  .navbar-list {
    @apply flex flex-wrap justify-center items-center px-2;
  }

  .navbar-link {
    @apply text-light-gray text-1 px-2 py-2 transition-colors duration-200
      ease-in;
  }

  .navbar-link:hover,
  .navbar-link:focus {
    @apply text-light-gray-70;
  }

  .navbar-link.active {
    @apply text-golden;
  }

  /*--- ABOUT ---*/
  .about-text {
    @apply text-light-gray text-3 font-300 leading-relaxed text-justify;
  }

  .about-text p {
    @apply mb-4;
  }

  /*--- EXPERIENCE ---*/
  .timeline {
    @apply mb-4;
  }

  .timeline .title-wrapper {
    @apply flex items-center gap-2.5 mb-3;
  }

  .timeline-list {
    @apply text-3 ml-12;
  }

  .timeline-item {
    @apply relative;
  }

  .timeline-item:not(:last-child) {
    @apply mb-5;
  }

  .timeline-item-title {
    @apply text-3 font-500 mb-1.5;
  }

  .timeline-list span {
    @apply text-golden font-400 leading-relaxed;
  }

  .timeline-item:only-child::before {
    @apply content-[""] absolute -top-6 -left-7 w-0.5 h-10 bg-jet;
  }

  .timeline-item:not(:last-child)::before {
    @apply content-[""] absolute -top-6 -left-7 w-0.5 bg-jet
      h-[calc(100%+50px)];
  }

  .timeline-item::after {
    @apply content-[""] absolute top-1.5 -left-7.5 h-1.5 w-1.5 rounded-[50%]
      shadow-6;
    background: var(--color-gradient-golden);
  }

  .timeline-text {
    @apply text-light-gray font-300 leading-relaxed text-justify;
  }

  .timeline-logo-box {
    @apply relative w-10 h-10 flex justify-center items-center z-1;
  }

  .timeline-logo-box::before {
    @apply content-[""] absolute inset-0.5 rounded-md -z-1 bg-eerie-black-1;
  }

  .timeline-logo {
    @apply w-3/4 h-3/4 object-cover transition duration-250 ease-in-out;
  }

  .experience-briefcase {
    @apply text-golden;
  }

  /*--- PROJECTS ---*/
  .project-list {
    @apply grid grid-cols-1 gap-8 mb-2.5;
  }

  .project-item {
    @apply block;
  }

  .project-item > a {
    @apply w-full;
  }

  .project-image {
    @apply relative w-full h-48 rounded-2xl overflow-hidden mb-4;
  }

  .project-image::before {
    @apply content-[""] absolute top-0 left-0 w-full h-full bg-transparent
    z-1 transition duration-250 ease-in;
  }

  .project-item > a:hover .project-image::before {
    @apply bg-black-50;
  }

  .project-item-view-icon {
    @apply bg-jet text-golden absolute top-1/2 left-1/2 text-7 rounded-2xl p-4
    opacity-0 z-1 transition duration-200 ease-in;

    --scale: 0.8;
    transform: translate(-50%, -50%) scale(var(--scale));
  }

  .project-item > a:hover .project-item-view-icon {
    @apply opacity-100;
    --scale: 1;
  }

  .project-image img {
    @apply w-full h-full object-cover transition duration-200 ease-in;
  }

  .project-item > a:hover img {
    @apply transform-gpu scale-[1.1];
  }

  .project-title,
  .project-subtitle,
  .project-category {
    @apply ml-1.5;
  }

  .project-title {
    @apply text-alabaster text-5 font-400 capitalize leading-snug;
  }

  .project-subtitle {
    @apply text-light-gray-70 text-3 font-300;
  }

  .project-categories {
    @apply flex flex-wrap;
  }

  .project-category {
    @apply mt-2.5 mb-2.5 text-white bg-onyx text-1 font-300 w-max py-1 px-3
    rounded-full;
  }

  /*--- SKILLS ---*/
  .skill-category {
    @apply mb-5;
  }

  .skills-list {
    @apply grid grid-cols-2 gap-8 mb-2.5;
  }

  .skill-item {
    @apply flex flex-wrap justify-center;
  }

  .skill-logo img {
    @apply w-10 h-10 object-cover transition duration-250 ease-in;
  }

  .skill-title {
    @apply my-2.5 mx-1.5 text-white bg-onyx text-1 font-300 w-max py-1 px-3
      rounded-full;
  }

  /*--- CONTACT ---*/
  .contact-form {
    @apply mb-2.5;
  }

  .form-input-wrapper {
    @apply grid grid-cols-1 gap-6 mb-6;
  }

  .form-input {
    @apply text-alabaster text-3 font-400 py-3 px-5 border border-jet rounded-2xl
      outline-none;
  }

  .form-input::placeholder {
    @apply font-500;
  }

  .form-input:focus {
    @apply border-golden;
  }

  textarea.form-input {
    @apply min-h-24 h-30 max-h-48 resize-y mb-6;
  }

  textarea.form-input::-webkit-resizer {
    @apply hidden;
  }

  .form-input:focus:invalid {
    @apply border-bittersweet-shimmer;
  }

  .form-button-wrapper {
    @apply flex items-center justify-center;
  }

  .form-button {
    @apply relative w-2/5 text-golden flex justify-center items-center
      gap-2.5 py-3 px-5 rounded-full text-3 capitalize shadow-3 z-1 transition
      duration-250 ease-in;
    background: var(--color-gradient-onyx);
  }

  .form-button::before {
    @apply content-[""] absolute inset-0.5 -z-1 rounded-[inherit] transition
      duration-250 ease-in;
    background: var(--color-gradient-jet);
  }

  .form-button:hover {
    @apply bg-gradient-orange-1;
  }

  .form-button:hover::before {
    @apply bg-gradient-orange-2
  }

  .form-button:disabled {
    @apply cursor-not-allowed opacity-70;
  }

  .form-button:disabled:hover {
    background: var(--color-gradient-onyx);
  }

  .form-button:disabled:hover::before {
    background: var(--color-gradient-jet);
  }

  /*--- RESPONSIVE ---*/
  /*
   * Responsive larger than 450px screen
   */
  @media (min-width: 450px) {

    /*--- PROJECTS ---*/
    .project-image {
      @apply h-auto;
    }
  }

  /*
   * Responsive larger than 580px screen
   */
  @media (min-width: 580px) {

    /*
     * REUSED STYLE
     */
    .sidebar,
    article {
      @apply w-130 mx-auto;
    }

    .sidebar {
      @apply p-7.5;
    }

    article {
      @apply p-5;
    }

    .article-title {
      @apply font-600;
    }

    .icon-box {
      @apply w-12 h-12;
    }

    .lucide {
      @apply size-6;
    }

    /*--- MAIN ---*/
    .main {
      @apply mt-12 mb-24.5;
    }

    /*--- SIDEBAR ---*/
    .sidebar {
      @apply max-h-44;
    }

    .sidebar.active {
      @apply max-h-128;
    }

    .sidebar-main {
      @apply gap-6.5;
    }

    .avatar-box img {
      @apply w-30;
    }

    .sidebar-main-content .name {
      @apply mb-3.5;
    }

    .sidebar-main-content .subtitle {
      @apply py-1.5 px-4.5;
    }

    .sidebar-show-more-button {
      @apply -top-8 -right-8 py-2.5 px-4;
    }

    .sidebar-show-more-button span {
      @apply block text-1;
    }

    .sidebar-show-more-button .lucide {
      @apply hidden;
    }

    .contacts-list {
      @apply gap-5;
    }

    .contact-info {
      @apply max-w-[calc(100%-64px)] w-[calc(100%-64px)];
    }

    /*--- NAVBAR ---*/
    .navbar {
      @apply rounded-t-2xl;
    }

    .navbar-list {
      @apply gap-2;
    }

    .navbar-link {
      @apply text-3;
    }

    /*--- EXPERIENCE ---*/
    .timeline-logo-box {
      @apply w-12 h-12 ml-2;
    }

    .timeline-list {
      @apply ml-15;
    }

    .timeline-item::after {
      @apply h-2 w-2 -left-[1.9rem];
    }

    .timeline-logo {
      @apply w-4/5 h-4/5;
    }

    /*--- PROJECTS ---*/
    .project-image {
      @apply rounded-2xl;
    }

    /*--- CONTACT ---*/
    .form-input {
      @apply py-4 px-5;
    }
  }

  /*
   * Responsive larger than 768px screen
   */
  @media (min-width: 768px) {

    /*
     * REUSED STYLE
     */
    .sidebar,
    article {
      @apply w-185;
    }

    /*--- SIDEBAR ---*/
    .sidebar-main-content .name {
      @apply text-8;
    }

    .sidebar-main-content .subtitle {
      @apply text-2;
    }

    .sidebar-show-more-button {
      @apply py-3 px-5;
    }

    .sidebar-show-more-button span {
      @apply text-3;
    }

    .social-item .lucide {
      @apply size-7;
    }

    .contacts-list {
      @apply grid-cols-2 gap-10;
    }

    .contact-title {
      @apply text-3;
    }

    .contact-info :is(.contact-link, address) {
      @apply text-3;
    }

    /*--- NAVBAR ---*/
    .navbar-link {
      @apply text-5;
    }

    .navbar-list {
      @apply gap-8;
    }

    /*--- ABOUT ---*/
    .about-text {
      @apply text-5;
    }

    /*--- EXPERIENCE ---*/
    .timeline-list {
      @apply text-5;
    }

    .timeline-item-title {
      @apply text-5;
    }

    .timeline-item {
      @apply px-1.5;
    }

    /*--- PROJECTS ---*/
    .project-list {
      @apply grid-cols-2;
    }

    .project-title {
      @apply text-4;
    }

    .project-subtitle {
      @apply text-5;
    }

    .project-category {
      @apply text-2;
    }

    /*--- SKILLS ---*/
    .skills-list {
      @apply grid-cols-3 mb-5;
    }

    .skill-title {
      @apply text-2;
    }

    /*--- CONTACT ---*/
    .form-input-wrapper {
      @apply grid-cols-2;
    }

    .form-button {
      @apply ml-auto w-1/5;
    }
  }

  /*
   * Responsive larger than 1024px screen
   */
  @media (min-width: 1024px) {

    /*
     * REUSED STYLEl
     */
    .sidebar,
    article {
      @apply w-240;
    }

    /*--- MAIN ---*/
    .main {
      @apply mb-15;
    }

    .main-content {
      @apply relative w-max m-auto;
    }

    /*--- NAVBAR ---*/
    .navbar {
      @apply absolute bottom-auto top-0 left-auto right-0 w-max px-5 shadow-none
        rounded-tl-none rounded-bl-2xl;
    }

    .navbar-list {
      @apply gap-8;
    }

    .navbar-link {
      @apply font-500;
    }

    /*--- PROJECTS ---*/
    .project-list {
      @apply grid-cols-3;
    }

    /*--- SKILLS ---*/
    .skills-list {
      @apply grid-cols-8;
    }
  }

  /*
   * Responsive larger than 1250px screen
   */
  @media (min-width: 1250px) {

    /*
     * REUSED STYLEl
     */
    .sidebar,
    article {
      @apply w-auto;
    }

    article {
      @apply min-h-full;
    }

    /*--- MAIN ---*/
    .main {
      @apply max-w-7xl mx-auto flex justify-center items-stretch gap-5;
    }

    .main-content {
      @apply min-w-3/4 w-3/4 m-0;
    }

    /*--- SIDEBAR ---*/
    .sidebar {
      @apply sticky top-12 max-h-max h-full mb-0 z-1;
    }

    .sidebar-main {
      @apply flex-col;
    }

    .avatar-box img {
      @apply w-38;
    }

    .sidebar-main-content .name {
      @apply whitespace-nowrap text-center;
    }

    .sidebar-main-content .subtitle {
      @apply m-auto;
    }

    .sidebar-show-more-button {
      @apply hidden;
    }

    .sidebar-secondary {
      @apply opacity-100 visible;
    }

    .contacts-list {
      @apply grid-cols-1;
    }

    .contact-info :is(.contact-link) {
      @apply whitespace-nowrap overflow-hidden text-ellipsis;
    }

    .contact-info :is(.contact-link, time, address) {
      @apply font-300;
    }

    .separator:last-of-type {
      @apply my-3.5 mx-0 opacity-0;
    }

    .social-list {
      @apply justify-center;
    }

    /*--- EXPERIENCE ---*/
    .timeline-text {
      @apply max-w-3xl;
    }

    .timeline-item::after {
      @apply -left-[1.91rem];
    }
  }
}
