body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #393e46;
  background: url("../../assets/img/background.jpg");
  background-size: cover;
  background-position: center;
}

.mainContainer {
  width: 414px;
  height: 100vh;
}

.main-btn-container {
  border-radius: 40px 40px 40px 40px;
  background-color: #1a1e23;
  flex: auto;
  max-width: 414px;
  justify-self: stretch;
  padding: 36px;
  padding-top: 44px;
  margin-top: 64px;
  box-sizing: border-box;
  /*height: 500px;*/
}

h1, p {
  color: #fff;
  font-family: Roboto, sans-serif;
}

h1 {
  font-size: 16px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.btn {
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  height: 50px;
  margin-top: 24px;
  transition: 0.2s ease-in;
  outline: none;
}

.filled-btn {
  background-color: #dd3c4b;
  color: #fff;
}

.filled-btn:hover {
  background-color: #bd2836;
}

.filled-btn:active {
  background-color: #bd2836;
}

.stroke-btn {
  background-color: #1b1f23;
  border: solid 1px #165ff2;
  color: #ffffff;
}

.stroke-btn:hover {
  background-color: #165ff2;
  border-color: #165ff2;
  color: #ffffff;
}

.stroke-btn:active {
  background-color: #1a1e23;
  border-color: #bd2836;
  color: #bd2836;
}

.social-media-container {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
}

.social-media-wrapper {
  width: 248px;
  margin: 0 36px;
}

.imageContainer {
  margin-top: 40px;
  margin-bottom: 20px;
}

.social-media {
  color: #fff;
  /*width: 32px;*/
  /*height: 32px;*/
  font-size: 30px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.social-media-github {
  background-color: #0d1216;
}

.social-media-github:hover {
  background-color: #05080b;
}

.social-media-github:active {
  background-color: #05080b;
}

.social-media-instagram {
  background-color: #c13584;
}

.social-media-instagram:hover {
  background-color: #a8246f;
}

.social-media-instagram:active {
  background-color: #a8246f;
}

.social-media-linkedin {
  background-color: #0084bf;
}

.social-media-linkedin:hover {
  background-color: #006a99;
}

.social-media-linkedin:active {
  background-color: #006a99;
}

.aHover:hover {
  color: #ffffff;
  text-decoration: none !important;
}

.stroke-btn {
  border-radius: 10px;
}

